<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Float</title>

    <link rel="stylesheet" type="text/css" href="estilo.css">

</head>

<body>
    <div id="topo">
        <div class="logo">
            <img src="../img/B2C-home.jpg" title="Template web Standarts" alt="web Standarts" />
            
        </div>
        
    </div>
    <div>
   <h1>Site de Compras Online</h1>
    </div>
    <nav> 
        <a href="https://www.olx.com.br/estado-df/distrito-federal-e-regiao/brasilia" class="ativo">Olx</a>
        <a href="https://www.mercadolivre.com.br/"> Mercado Livre</a>
        <a href="https://shopee.com.br/"> Shopee</a>
        <a href="https://br.shein.com/"> Shein</a>
        <a href="https://www.temu.com/br"> Temu</a>
    </nav>

    <div id="container">
        <div class="box"></div>
        
    </div>

</div>

<footer>
    <div id="rodape">
        
        <div id="t_rodape">
            <p> template  web standarts</p>
            <p> Todos os direitos reservados - <a href="http://www.versatildf.com.br" target="_blank">Versatil tecnologia</a></p>
        </div>
    </div>
</footer>
 
</body>
</html>